#
# WARNING : This file has been generated via Ansible. Local changes might be overriden at any time.
#

interface=wlan0
ssid=archipel
hw_mode=g
channel=6
macaddr_acl=0
auth_algs=1
ignore_broadcast_ssid=0
wpa=2
wpa_psk=8b123e4ab62fb5f6fafb39f74655803087c180871fe58f1b56282ff2d5397901
wpa_key_mgmt=WPA-PSK
wpa_pairwise=TKIP
rsn_pairwise=CCMP