log_type error
log_type warning
log_type notice
log_type information
log_type debug
log_dest file /tmp/mosquitto.log

retry_interval 10

connection central
address {{ bridgeHost }}:{{ bridgePort }}
clientid {{ piUid }}
cleansession false
keepalive_interval 60
start_type automatic
restart_timeout 30
idle_timeout 60
try_private false
username {{ bridgeUser }}
password {{ bridgePassword }}
topic fr.xebia.kouignamann.nuc.central.processSingleVote out 2