log_type error
log_type warning
log_type notice
log_type information
log_type debug
log_dest file /var/log/mosquitto/mosquitto.log

retry_interval 10

connection {{ pi_uid }}ToCentral
try_private false
address {{ mqtt_parent_host }}:{{ mqtt_parent_port }}
start_type automatic
username devoxxfr
password devoxx
clientid {{ pi_uid }}
cleansession false
topic {{ kouign_amann_pub }} out 2
notifications true
keepalive_interval 10
