log_type error
log_type warning
log_type notice
log_type information
log_type debug
log_dest file /var/log/mosquitto/mosquitto.log

retry_interval 10

persistence true
persistence_file mosquitto.db
persistence_location /home/pi/mosquitto/
autosave_interval 60

connection central
address {{ mqtt_parent_host }}:{{ mqtt_parent_port }}
username devoxxfr
password devoxx
clientid {{ pi_uid }}
cleansession true
keepalive_interval 60
start_type automatic
restart_timeout 30
idle_timeout 60
try_private false
topic {{ kouign_amann_pub }} out 2
